
header h1 {
    float: right;
    z-index: 2;
    position: relative;
    bottom: 550px;
    right: 50px;
    color: white;
}

header img {
    position: relative;
    max-width: 100%;
    z-index: 1;    

}
    

* {
    background-color: blue;
}

